<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- bootstrap ~ -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <!-- ~ bootstrap -->
    <link rel="stylesheet" href="../css/detail.css" />
  </head>
  <body>
    <!-- container ~ -->
    <div class="container mt-5">
      <!-- tab ~ -->
      <ul class="list">
        <li class="tab-button">Products</li>
        <li class="tab-button orange">Information</li>
        <li class="tab-button">Shipping</li>
      </ul>
      <!-- ~ tab -->

      <!-- contents ~ -->
      <div class="tab-content">
        <p>商品説明 Prodect</p>
      </div>
      <div class="tab-content show">
        <p>スペック説明 Information</p>
      </div>
      <div class="tab-content">
        <p>配送説明 Shipping</p>
      </div>
      <!-- ~ contents -->
    </div>
    <!-- ~ container -->
    <script src="../js/tab.js"></script>
  </body>
</html>
