/* :root {
  --px-xs: 4px;
  --px-sm: 8px;
  --px-md: 16px;
  --px-lg: 24px;
  --px-xl: 32px;

  --per-xs: 4%;
  --per-sm: 8%;
  --per-md: 16%;
  --per-lg: 24%;
  --per-xl: 32%;
} */

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    border: 1px solid gray;
}

input[type='submit'],
input[type='button'],
input[type='checkbox']{
    cursor: pointer;
}

html,
body{
    width: 100%;
    min-height: 100%;
}

body {
    background-color:antiquewhite;
}

.content {
	display: flex;
	flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 50px 50px;
    border-radius: 20px;
}

.content_head {
    margin-top: 30px;
    text-align: center;
}
.content_head > h1{
    font-size: 35px;
}
.clock {
    font-size: 15px;
}
.content_inner {
    width: 70%;
}
.constent_menu{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

form {
    display: flex;
    width: 80%;
}

.toDo_input{
    font-size: 15px;
    padding: 5px 10px;
    width: 300px;
    border-radius: 5px;
}

.btn{
    width: 50px;
    margin: 0 2px;
}

.toDo_addBtn{
    margin-left: auto;
}

.toDo_list{
    margin-top: 30px;
    margin-bottom: 30px;
}

.ToDo_list_item {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.ToDo_list_item:first-child {
    margin-top: 0;
}

input[type='checkbox']{
    margin-right: 3px;
}

.text{
    font-size: 20px;
    max-width: 300px;
    overflow: hidden;
    text-overflow:ellipsis;
}
.date{
    margin-left: auto;
    margin-right: 5px;
}
.ToDo_list_delBtn{

}
